@use "./reset" as *;
@use "./fonts" as *;
@use "./variables" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	user-select: none;
}

body {
	font-family: $manropeMedium;
	font-size: 1.6rem;
	background-color: $darkestColor;
	color: $whiteColor;
	min-height: 100vh;
}

.input {
	font-family: $manropeSemiBold;
	font-size: 1.8rem;
	background-color: transparent;
	color: $whiteColor;
	border: none;
	outline: none;
}

.submit {
	width: 100%;
	height: 7.5rem;
	font-family: $manropeBold;
	font-size: 2.4rem;
	background-color: $primaryColor;
	color: $secondaryColor;
	border: none;
	border-radius: $radius;
	cursor: pointer;
}

.btn {
	font-family: $manropeBold;
	font-size: 2rem;
	background-color: $primaryColor;
	border: none;
	border-radius: $radius;
	cursor: pointer;
}

// Dashboard
.dashboard {
	width: 80%;
	display: none;
	@include positionCenter();

	.dashboard__navigation {
		@include proFlex(row, space-between);
		margin-bottom: 2%;

		.btn-container {
			@include proFlex(row-reverse);

			.dashboard__logout-btn {
				width: 5rem;
				height: 5rem;
				@include proFlex(column);
				border-radius: calc($radius / 2);
				margin-left: 2rem;

				svg {
					transform: rotate(180deg);
				}
			}

			.dashboard-delete-account-btn {
				width: 18rem;
				height: 5rem;
				@include proFlex(row, center);
				position: relative;
				background-color: $redColor;
				border-radius: calc($radius / 2);
				overflow: hidden;
				transition: all 200ms ease-in-out;

				.delete-account-text {
					display: block;
				}

				.delete-account-inputs {
					@include proFlex(row, center, center, none);
					@include positionCenter();

					.delete-account-username {
						margin-right: 1rem;
					}

					.input {
						width: 18rem;
						height: 3rem;
						padding: 0 0.5rem;
						color: $darkestColor;
						background-color: transparent;
						border: baseBorder($secondaryColor);
						border-radius: calc($radius / 3);
						font-family: $manropeSemiBold;
						font-size: 1.4rem;
					}

					.input::placeholder {
						color: $secondaryColor;
						opacity: 80%;
					}

					.btn {
						width: 3rem;
						height: 3rem;
						@include proFlex(row);
						margin-right: 1rem;
						background-color: $secondaryColor;
						border-radius: calc($radius / 3);
					}
				}
			}

			.dashboard-delete-account-btn-show {
				width: 47rem;
				background-color: $primaryColor;
				cursor: default;

				.delete-account-text {
					display: none;
				}

				.delete-account-inputs {
					@include proFlex(row);
				}
			}
		}
	}

	.dashboard__main-page {
		width: 100%;

		.main-page__upper-container {
			@include proFlex(flex, space-between);

			.upper-container__greetings {
				.upper-container-greetings__info {
					font-family: $manropeSemiBold;
					font-size: 3.2rem;
					margin-bottom: 1.2rem;
				}

				.upper-container-greetings__date {
					font-family: $manropeMedium;
					font-size: 2rem;
				}
			}

			.balance {
				font-family: $manropeBold;
				font-size: 5rem;
			}
		}

		.dashboard__money-management {
			display: grid;
			grid-template-columns: 60% 38.5%;
			grid-template-rows: repeat(2, 23.6rem);
			justify-content: center;
			gap: 2rem;
			margin-top: 2.5rem;

			.transactions-container {
				grid-row: 1 / 3;
				position: relative;
				background-color: $secondaryColor;
				border: baseBorder($grayColor);
				border-radius: $radius;
				overflow-y: scroll;
				overflow-x: hidden;

				.transaction {
					@include proFlex(row, space-between);
					height: 7rem;
					padding: 0 2rem;
					border-bottom: 0.3rem solid $grayColor;

					.transac-date-time {
						@include proFlex(row);

						.transac-date__stat {
							display: block;
							width: 13rem;
							padding-top: 0.5rem;
							padding-bottom: 0.5rem;
							text-align: center;
							background-color: $greenColor;
							border-radius: 0.5rem;
						}

						.transaction__date {
							margin-left: 2.7rem;
						}
					}

					.transaction-amount {
						font-family: $manropeBold;
						font-size: 2.4rem;
					}
				}

				.transaction:last-child {
					border: none;
				}

				.empty-container {
					display: block;
					@include positionCenter();
					font-family: $manropeSemiBold;
					font-size: 3.5rem;
				}
			}

			.transactions-container::-webkit-scrollbar {
				display: none;
			}

			text-align: center;

			.money-transfer-container {
				@include proFlex(column);
				padding: 2rem 0;
				background-color: rgb(250, 234, 177, 0.1);
				color: $yellowColor;
				border: baseBorder($yellowColor);
				border-radius: $radius;

				.money-man-trans-container {
					display: grid;
					grid-template-columns: 75% 18%;
					justify-content: center;
					justify-items: center;
					gap: 2rem;

					.input-amount-money-transfer {
						width: 100%;
						border: baseBorder($yellowColor);
						border-radius: calc($radius / 2);
					}

					.input-transfer {
						width: 100%;
						height: 5.5rem;
						padding: 0 2rem;
						border: baseBorder($yellowColor);
						border-radius: calc($radius / 2);
					}

					.input {
						grid-column: 1 / 2;
					}

					.input::placeholder {
						color: $yellowColor;
						opacity: 60%;
					}

					.transfer-confirmation-btn {
						width: 6rem;
						height: 13rem;
						grid-column: 2 / 3;
						grid-row: 3 / -1;
						background-color: $yellowColor;
						border-radius: calc($radius / 2);
					}
				}
			}

			.loan-request-container {
				padding: 2rem 0;
				@include proFlex(column);
				background-color: rgb(136, 164, 124, 0.1);
				color: $greenColor;
				border: baseBorder($greenColor);
				border-radius: $radius;

				.input-amount-request-loan {
					width: 58%;
					border: baseBorder($greenColor);
					border-radius: calc($radius / 2);
					margin-bottom: 2rem;
				}

				.input::placeholder {
					color: $greenColor;
					opacity: 75%;
				}

				.request-loan-confirmation {
					width: 58%;
					height: 5.5rem;
					background-color: $greenColor;
					border-radius: calc($radius / 2);
				}
			}

			.money-manipulator-title {
				font-family: $manropeBold;
				font-size: 3.2rem;
				margin-bottom: 2.5rem;
			}

			.input-amount {
				width: 25.5rem;
				height: 5.5rem;
				padding: 0 2rem;
			}

			.input-amount::-webkit-inner-spin-button,
			.input-amount::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		.downer-content-container {
			@include proFlex(row, space-between);
			margin-top: 2rem;

			.downer-left-content {
				@include proFlex(row);

				.downer-left-info {
					margin-right: 5rem;

					span {
						font-family: $manropeBold;
						font-size: 1.8rem;
						margin-left: 0.7rem;
					}

					.in {
						color: $greenColor;
					}

					.out {
						color: $redColor;
					}

					.interest {
						color: $greenColor;
					}
				}

				.sort {
					@include proFlex(row);
					font-family: $manropeBold;
					cursor: pointer;

					.svg-sort {
						margin-left: 0.1rem;
						transform: rotate(0);
						transition: all 200ms ease-in-out;
					}

					.svg-sort--rotate {
						transform: rotate(180deg);
					}
				}
			}

			.downer-content-timer {
				.timer {
					font-family: $manropeBold;
					margin-left: 0.5rem;
				}
			}
		}
	}
}

// LogIn Form
.login-form-cover {
	width: 50rem;
	@include proFlex(column, center, center, none);
	@include positionCenter();
	background-color: $secondaryColor;
	border: baseBorder($grayColor);
	border-radius: $radius;
	padding: 3rem 0 3rem 0;

	.logIn-form {
		width: 85%;

		.logIn-form__inputContainer {
			width: 100%;
			height: 7.5rem;
			@include proFlex(row, space-between);
			padding-left: 2rem;
			padding-right: 2rem;
			border: baseBorder($grayColor);
			border-radius: $radius;
			margin-bottom: 3rem;

			.logIn-form-input {
				width: 100%;
				height: 100%;
			}

			svg {
				margin-right: 2rem;
			}
		}

		.logIn-form__submitbtn {
			margin-bottom: 3rem;
		}
	}

	.login-form-cover__director {
		font-size: 1.8rem;
		color: $grayColor;

		.login-form-cover__link {
			font-family: $manropeSemiBold;
			color: $whiteColor;
			cursor: pointer;
		}
	}
}

.login-form-cover__logo {
	margin-bottom: 6.5rem;
}

// Register Form
.register-form-cover {
	width: 50rem;
	@include proFlex(column, center, center, none);
	@include positionCenter();
	background-color: $secondaryColor;
	border: baseBorder($grayColor);
	border-radius: $radius;
	padding: 3rem 0 3rem 0;

	.register-form {
		width: 85%;

		.register-form__inputContainer {
			width: 100%;
			height: 7.5rem;
			@include proFlex(row, space-between);
			padding-left: 2rem;
			padding-right: 2rem;
			border: baseBorder($grayColor);
			border-radius: $radius;
			margin-bottom: 3rem;

			.register-form-input {
				width: 100%;
				height: 100%;
			}

			svg {
				margin-right: 2rem;
			}
		}

		.register-form__submitbtn {
			margin-bottom: 3rem;
		}
	}

	.register-form__director {
		font-size: 1.8rem;
		color: $grayColor;
		.register-form__link {
			font-family: $manropeSemiBold;
			color: $whiteColor;
			cursor: pointer;
		}
	}
}

// Notification
.notification {
	width: fit-content;
	height: 7rem;
	padding: 0 1.5rem;
	@include proFlex(row, flex-start);
	position: absolute;
	z-index: 2;
	top: -10rem;
	right: 1rem;
	opacity: 0;
	transform: scale(0);
	border-radius: calc($radius / 2);
	transition: all 200ms ease-in-out;

	.notification__text {
		font-size: 1.6rem;
		font-family: $manropeBold;
		color: $darkestColor;
		margin-left: 1.5rem;
	}
}

// Notification-show
.notification-show {
	transform: scale(1);
	opacity: 100%;
	top: 1rem;
}
