* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: $manropeMedium;
	font-size: 1.6rem;
	background-color: $darkestColor;
	color: $whiteColor;
	min-height: 100vh;
	padding: 5rem;
}

.input {
	font-family: $manropeSemiBold;
	font-size: 1.8rem;
	background-color: transparent;
	color: $whiteColor;
	border: none;
	outline: none;
}

.submit {
	width: 100%;
	height: 7.5rem;
	font-family: $manropeBold;
	font-size: 2.4rem;
	background-color: $primaryColor;
	color: $secondaryColor;
	border: none;
	border-radius: $radius;
	cursor: pointer;
}

// LogIn Form
.login-form-cover {
	width: 50rem;
	@include proFlex(column, center, center, flex);
	@include positionCenter();
	background-color: $secondaryColor;
	border: $baseBorder;
	border-radius: $radius;
	padding: 2.2rem 0 3rem 0;

	.logIn-form {
		width: 85%;

		.logIn-form__inputContainer {
			width: 100%;
			height: 7.5rem;
			@include proFlex(row, space-between);
			padding-left: 2rem;
			padding-right: 2rem;
			border: $baseBorder;
			border-radius: $radius;
			margin-bottom: 3rem;

			.logIn-form-input {
				width: 100%;
				height: 100%;
			}

			svg {
				margin-right: 2rem;
			}
		}

		.logIn-form__submitbtn {
			margin-bottom: 3rem;
		}
	}

	.login-form-cover__director {
		font-size: 1.8rem;
		color: $grayColor;

		.login-form-cover__link {
			font-family: $manropeSemiBold;
			color: $whiteColor;
			cursor: pointer;
		}
	}
}

.login-form-cover__logo {
	margin-bottom: 6.5rem;
}

.register-form-cover {
	width: 50rem;
	@include proFlex(column, center, center, none);
	@include positionCenter();
	background-color: $secondaryColor;
	border: $baseBorder;
	border-radius: $radius;
	padding: 2.2rem 0 3rem 0;

	.register-form {
		width: 85%;

		.register-form__inputContainer {
			width: 100%;
			height: 7.5rem;
			@include proFlex(row, space-between);
			padding-left: 2rem;
			padding-right: 2rem;
			border: $baseBorder;
			border-radius: $radius;
			margin-bottom: 3rem;

			.register-form-input {
				width: 100%;
				height: 100%;
			}

			svg {
				margin-right: 2rem;
			}
		}

		.register-form__submitbtn {
			margin-bottom: 3rem;
		}
	}

	.register-form__director {
		font-size: 1.8rem;
		color: $grayColor;
		.register-form__link {
			font-family: $manropeSemiBold;
			color: $whiteColor;
			cursor: pointer;
		}
	}
}
