* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: $manropeMedium;
	font-size: 1.6rem;
	background-color: $darkestColor;
	color: $whiteColor;
	min-height: 100vh;
	padding: 1% 10% 0 10%;
}

.input {
	font-family: $manropeSemiBold;
	font-size: 1.8rem;
	background-color: transparent;
	color: $whiteColor;
	border: none;
	outline: none;
}

.submit {
	width: 100%;
	height: 7.5rem;
	font-family: $manropeBold;
	font-size: 2.4rem;
	background-color: $primaryColor;
	color: $secondaryColor;
	border: none;
	border-radius: $radius;
	cursor: pointer;
}

.btn {
	font-family: $manropeBold;
	font-size: 2rem;
	background-color: $primaryColor;
	border: none;
	border-radius: $radius;
	cursor: pointer;
}

// Dashboard
.dashboard {
	.dashboard__navigation {
		@include proFlex(row, space-between);
		margin-bottom: 3.5rem;

		.dashboard__logout-btn {
			width: 20rem;
			height: 4.5rem;
		}
	}

	.dashboard__main-page {
		width: 100%;

		.main-page__upper-container {
			@include proFlex(flex, space-between);

			.upper-container__greetings {
				.upper-container-greetings__info {
					font-family: $manropeSemiBold;
					font-size: 3.2rem;
					margin-bottom: 1.2rem;
				}

				.upper-container-greetings__date {
					font-family: $manropeMedium;
					font-size: 2rem;
				}
			}

			.upper-container-greetings__date {
				font-family: $manropeBold;
				font-size: 5rem;
			}
		}

		.dashboard__money-management {
			width: 100%;
			margin-top: 2.5rem;

			.transactions-container {
				width: 70rem;
				height: 49.3rem;
				border: $baseBorder;
				border-radius: $radius;
				overflow-y: scroll;
				overflow-x: hidden;

				.transaction {
					@include proFlex(row, space-between);
					height: 7rem;
					padding: 0 2rem;
					border-bottom: 0.3rem solid $grayColor;

					.transac-date-time {
						@include proFlex(row);

						.transac-date__stat {
							display: block;
							width: 13rem;
							padding-top: 0.5rem;
							padding-bottom: 0.5rem;
							text-align: center;
							background-color: $greenColor;
							border-radius: 0.5rem;
						}

						.transaction__date {
							margin-left: 2.7rem;
						}
					}

					.transaction-amount {
						font-family: $manropeBold;
						font-size: 2.4rem;
					}
				}

				.transaction:last-child {
					border: none;
				}
			}

			.transactions-container::-webkit-scrollbar {
				display: none;
			}

			// TODO: Style the manipulator section 'Don't Forget'

			.money-manipulator-container {
				.money-transfer-container {
					@include proFlex(column);
				}
			}
		}
	}
}

// LogIn Form
.login-form-cover {
	width: 50rem;
	@include proFlex(column, center, center, flex);
	@include positionCenter();
	background-color: $secondaryColor;
	border: $baseBorder;
	border-radius: $radius;
	padding: 2.2rem 0 3rem 0;

	.logIn-form {
		width: 85%;

		.logIn-form__inputContainer {
			width: 100%;
			height: 7.5rem;
			@include proFlex(row, space-between);
			padding-left: 2rem;
			padding-right: 2rem;
			border: $baseBorder;
			border-radius: $radius;
			margin-bottom: 3rem;

			.logIn-form-input {
				width: 100%;
				height: 100%;
			}

			svg {
				margin-right: 2rem;
			}
		}

		.logIn-form__submitbtn {
			margin-bottom: 3rem;
		}
	}

	.login-form-cover__director {
		font-size: 1.8rem;
		color: $grayColor;

		.login-form-cover__link {
			font-family: $manropeSemiBold;
			color: $whiteColor;
			cursor: pointer;
		}
	}
}

.login-form-cover__logo {
	margin-bottom: 6.5rem;
}

.register-form-cover {
	width: 50rem;
	@include proFlex(column, center, center, none);
	@include positionCenter();
	background-color: $secondaryColor;
	border: $baseBorder;
	border-radius: $radius;
	padding: 2.2rem 0 3rem 0;

	.register-form {
		width: 85%;

		.register-form__inputContainer {
			width: 100%;
			height: 7.5rem;
			@include proFlex(row, space-between);
			padding-left: 2rem;
			padding-right: 2rem;
			border: $baseBorder;
			border-radius: $radius;
			margin-bottom: 3rem;

			.register-form-input {
				width: 100%;
				height: 100%;
			}

			svg {
				margin-right: 2rem;
			}
		}

		.register-form__submitbtn {
			margin-bottom: 3rem;
		}
	}

	.register-form__director {
		font-size: 1.8rem;
		color: $grayColor;
		.register-form__link {
			font-family: $manropeSemiBold;
			color: $whiteColor;
			cursor: pointer;
		}
	}
}
