* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	// user-select: none;
}

body {
	font-family: $manropeMedium;
	font-size: 1.6rem;
	background-color: $darkestColor;
	color: $whiteColor;
	min-height: 100vh;
}

.input {
	font-family: $manropeSemiBold;
	font-size: 1.8rem;
	background-color: transparent;
	color: $whiteColor;
	border: none;
	outline: none;
}

.submit {
	width: 100%;
	height: 7.5rem;
	font-family: $manropeBold;
	font-size: 2.4rem;
	background-color: $primaryColor;
	color: $secondaryColor;
	border: none;
	border-radius: $radius;
	cursor: pointer;
}

.btn {
	font-family: $manropeBold;
	font-size: 2rem;
	background-color: $primaryColor;
	border: none;
	border-radius: $radius;
	cursor: pointer;
}

// Dashboard
.dashboard {
	width: 75%;
	@include positionCenter();

	.dashboard__navigation {
		@include proFlex(row, space-between);
		margin-bottom: 2%;

		.btn-container {
			@include proFlex(row);

			.dashboard__logout-btn {
				width: 5rem;
				height: 5rem;
				@include proFlex(column);
				border-radius: $radius / 2;
				margin-right: 2rem;
			}

			.dashboard-delete-account-btn {
				width: 5rem;
				height: 5rem;
				@include proFlex(column);
				background-color: $redColor;
				border-radius: $radius / 2;
			}
		}
	}

	.dashboard__main-page {
		width: 100%;

		.main-page__upper-container {
			@include proFlex(flex, space-between);

			.upper-container__greetings {
				.upper-container-greetings__info {
					font-family: $manropeSemiBold;
					font-size: 3.2rem;
					margin-bottom: 1.2rem;
				}

				.upper-container-greetings__date {
					font-family: $manropeMedium;
					font-size: 2rem;
				}
			}

			.upper-container-greetings__date {
				font-family: $manropeBold;
				font-size: 5rem;
			}
		}

		.dashboard__money-management {
			display: grid;
			grid-template-columns: 60% 38.5%;
			grid-template-rows: repeat(2, 23.6rem);
			justify-content: center;
			gap: 2rem;
			margin-top: 2.5rem;

			.transactions-container {
				grid-row: 1 / 3;
				background-color: $secondaryColor;
				border: $baseBorder;
				border-radius: $radius;
				overflow-y: scroll;
				overflow-x: hidden;

				.transaction {
					@include proFlex(row, space-between);
					height: 7rem;
					padding: 0 2rem;
					border-bottom: 0.3rem solid $grayColor;

					.transac-date-time {
						@include proFlex(row);

						.transac-date__stat {
							display: block;
							width: 13rem;
							padding-top: 0.5rem;
							padding-bottom: 0.5rem;
							text-align: center;
							background-color: $greenColor;
							border-radius: 0.5rem;
						}

						.transaction__date {
							margin-left: 2.7rem;
						}
					}

					.transaction-amount {
						font-family: $manropeBold;
						font-size: 2.4rem;
					}
				}

				.transaction:last-child {
					border: none;
				}
			}

			.transactions-container::-webkit-scrollbar {
				display: none;
			}

			text-align: center;

			.money-transfer-container {
				@include proFlex(column);
				padding: 2rem 0;
				background-color: rgb(250, 234, 177, 0.1);
				color: $yellowColor;
				border: 0.3rem solid $yellowColor;
				border-radius: $radius;

				.money-man-trans-container {
					@include proFlex(row);

					.money-inputs {
						width: min-content;

						.input-amount-money-transfer {
							border: 0.3rem solid $yellowColor;
							border-radius: $radius / 2;
							margin-bottom: 2rem;
						}

						.input-transfer {
							width: 25.5rem;
							height: 5.5rem;
							padding: 0 2rem;
							border: 0.3rem solid $yellowColor;
							border-radius: $radius / 2;
						}

						.input::placeholder {
							color: $yellowColor;
							opacity: 60%;
						}
					}

					.transfer-confirmation-btn {
						width: 6rem;
						height: 13rem;
						margin-left: 2rem;
						background-color: $yellowColor;
						border-radius: $radius / 2;
					}
				}
			}

			.loan-request-container {
				padding: 2rem 0;
				@include proFlex(column);
				background-color: rgb(136, 164, 124, 0.1);
				color: $greenColor;
				border: 0.3rem solid $greenColor;
				border-radius: $radius;

				.input-amount-request-loan {
					border: 0.3rem solid $greenColor;
					border-radius: $radius / 2;
					margin-bottom: 2rem;
				}

				.input::placeholder {
					color: $greenColor;
					opacity: 60%;
				}

				.request-loan-confirmation {
					width: 25.5rem;
					height: 5.5rem;
					background-color: $greenColor;
					border-radius: $radius / 2;
				}
			}

			.money-manipulator-title {
				font-family: $manropeBold;
				font-size: 3.2rem;
				margin-bottom: 2.5rem;
			}

			.input-amount {
				width: 25.5rem;
				height: 5.5rem;
				padding: 0 2rem;
			}

			.input-amount::-webkit-inner-spin-button,
			.input-amount::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		.downer-content-container {
			@include proFlex(row, space-between);
			margin-top: 2rem;

			.downer-left-content {
				@include proFlex(row);

				.downer-left-info {
					margin-right: 5rem;

					span {
						font-family: $manropeBold;
						margin-left: 0.7rem;
					}
				}

				.sort {
					font-family: $manropeBold;
					cursor: pointer;
				}
			}

			.downer-content-timer {
				.timer {
					font-family: $manropeBold;
					margin-left: 0.5rem;
				}
			}
		}
	}
}

// LogIn Form
.login-form-cover {
	width: 50rem;
	@include proFlex(column, center, center, flex);
	@include positionCenter();
	background-color: $secondaryColor;
	border: $baseBorder;
	border-radius: $radius;
	padding: 2.2rem 0 3rem 0;

	.logIn-form {
		width: 85%;

		.logIn-form__inputContainer {
			width: 100%;
			height: 7.5rem;
			@include proFlex(row, space-between);
			padding-left: 2rem;
			padding-right: 2rem;
			border: $baseBorder;
			border-radius: $radius;
			margin-bottom: 3rem;

			.logIn-form-input {
				width: 100%;
				height: 100%;
			}

			svg {
				margin-right: 2rem;
			}
		}

		.logIn-form__submitbtn {
			margin-bottom: 3rem;
		}
	}

	.login-form-cover__director {
		font-size: 1.8rem;
		color: $grayColor;

		.login-form-cover__link {
			font-family: $manropeSemiBold;
			color: $whiteColor;
			cursor: pointer;
		}
	}
}

.login-form-cover__logo {
	margin-bottom: 6.5rem;
}

.register-form-cover {
	width: 50rem;
	@include proFlex(column, center, center, none);
	@include positionCenter();
	background-color: $secondaryColor;
	border: $baseBorder;
	border-radius: $radius;
	padding: 2.2rem 0 3rem 0;

	.register-form {
		width: 85%;

		.register-form__inputContainer {
			width: 100%;
			height: 7.5rem;
			@include proFlex(row, space-between);
			padding-left: 2rem;
			padding-right: 2rem;
			border: $baseBorder;
			border-radius: $radius;
			margin-bottom: 3rem;

			.register-form-input {
				width: 100%;
				height: 100%;
			}

			svg {
				margin-right: 2rem;
			}
		}

		.register-form__submitbtn {
			margin-bottom: 3rem;
		}
	}

	.register-form__director {
		font-size: 1.8rem;
		color: $grayColor;
		.register-form__link {
			font-family: $manropeSemiBold;
			color: $whiteColor;
			cursor: pointer;
		}
	}
}
