// Colors
$primaryColor: #00adb5;
$darkestColor: #212121;
$secondaryColor: #323232;
$whiteColor: #ffffff;

// Fonts
$manropeBold: manrope-bold;
$manropeSemiBold: manrope-semibold;
$manropeMedium: manrope-medium;
