// Colors
$primaryColor: #00adb5;
$secondaryColor: #323232;
$darkestColor: #212121;
$grayColor: #969696;
$whiteColor: #ffffff;
$yellowColor: #faeab1;
$redColor: #f55050;
$greenColor: #88a47c;

// Fonts
$manropeBold: manrope-bold;
$manropeSemiBold: manrope-semibold;
$manropeMedium: manrope-medium;

// Base Values
$baseBorder: 0.3rem solid $grayColor;
$radius: 1rem;

// Scss Mixins
@mixin proFlex($direction, $jc: center, $ai: center, $display: flex) {
	display: $display;
	flex-direction: $direction;
	justify-content: $jc;
	align-items: $ai;
}

@mixin positionCenter() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
