html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: manrope-bold;
  src: url("../files/fonts/Manrope-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: manrope-semibold;
  src: url("../files/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: manrope-medium;
  src: url("../files/fonts/Manrope-Medium.ttf") format("truetype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  user-select: none;
}

body {
  font-family: manrope-medium;
  font-size: 1.6rem;
  background-color: #212121;
  color: #ffffff;
}

.input {
  font-family: manrope-semibold;
  font-size: 1.8rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}

.submit {
  width: 100%;
  height: 7.5rem;
  font-family: manrope-bold;
  font-size: 2.4rem;
  background-color: #00adb5;
  color: #323232;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn {
  font-family: manrope-bold;
  font-size: 2rem;
  background-color: #00adb5;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.link {
  display: inline-block;
  font-family: manrope-semibold;
  text-decoration: none;
}
.link::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  background-color: #00adb5;
  border-radius: 0.1rem;
  width: 0;
  height: 0.2rem;
  margin-top: 5%;
  transition: width 200ms ease-in-out;
}
.link:hover::after {
  width: 100%;
}

.representation-page {
  display: block;
  width: 80%;
  margin: 2rem auto 0 auto;
}
.representation-page .representation-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13rem;
}
.representation-page .representation-navigation .navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.representation-page .representation-navigation .navigation-list .navigation-lists {
  margin-inline: 2rem;
  font-family: manrope-bold;
  font-size: 2rem;
}
.representation-page .representation-navigation .navigation-list .navigation-lists .navigation-links {
  text-decoration: none;
  color: #ffffff;
  transition: all 200ms ease-in-out;
}
.representation-page .representation-navigation .navigation-list .navigation-lists .navigation-links:hover {
  font-size: 2.2rem;
  color: #00adb5;
}
.representation-page .representation-navigation .navigation-account-open {
  width: 18rem;
  height: 4.5rem;
}
.representation-page .representation-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}
.representation-page .representation-banner .banner__texts .banner__texts-title {
  font-family: manrope-bold;
  font-size: 5.5rem;
  margin-bottom: 2.2rem;
}
.representation-page .representation-banner .banner__texts .banner__texts-par {
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
}
.representation-page .representation-banner .banner__texts .banner__link {
  font-size: 1.6rem;
  color: #00adb5;
}
.representation-page .representation-banner .banner__image {
  max-width: 60rem;
}
.representation-page .representation-banner .banner__image svg {
  width: 100%;
}
.representation-page .feature-announcement {
  text-align: center;
}
.representation-page .feature-announcement .feature-announcement__upper-text {
  font-family: manrope-semibold;
  font-size: 2rem;
  color: #00adb5;
}
.representation-page .feature-announcement .feature-announcement__title {
  font-family: manrope-bold;
  font-size: 5rem;
  margin-top: 2rem;
}
.representation-page .features-trust-center {
  margin-top: 10rem;
}
.representation-page .features-trust-center .section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.representation-page .features-trust-center .section .features-uppertexts .features-icon {
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(136, 164, 124, 0.4);
  border-radius: 7rem;
}
.representation-page .features-trust-center .section .features-uppertexts .features-title {
  font-family: manrope-bold;
  font-size: 2.4rem;
  margin-top: 2rem;
}
.representation-page .features-trust-center .section .features-uppertexts .features-text {
  max-width: 50rem;
  margin-top: 2rem;
}
.representation-page .features-trust-center .section .features-downerimage {
  max-width: 55rem;
}
.representation-page .features-trust-center .section .features-downerimage svg {
  width: 100%;
}
.representation-page .features-trust-center .section:last-child {
  margin: 0;
}
.representation-page .testimonial-title-holder {
  text-align: center;
  margin: 20rem 20rem;
}
.representation-page .testimonial-title-holder .testimonial-text {
  font-family: manrope-semibold;
  font-size: 2rem;
  color: #00adb5;
}
.representation-page .testimonial-title-holder .testimonials-title {
  font-family: manrope-bold;
  font-size: 5rem;
}
.representation-page .testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.representation-page .testimonials .arrow-buttons {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.representation-page .testimonials .arrow-buttons .arrow-left {
  transform: rotate(180deg);
  cursor: pointer;
}
.representation-page .testimonials .arrow-buttons .arrow-right {
  cursor: pointer;
}
.representation-page .testimonials .testimonials-inner-layer {
  width: 65rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  background-color: #323232;
}
.representation-page .testimonials .testimonials-inner-layer .testimonials-inner-layer__img {
  width: 5.5rem;
}
.representation-page .testimonials .testimonials-inner-layer .testimonials-inner-layer__title {
  font-family: manrope-bold;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.representation-page .testimonials .testimonials-inner-layer .tweet-text {
  max-width: 60rem;
  margin-bottom: 2rem;
}
.representation-page .testimonials .testimonials-inner-layer .testimonial-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.representation-page .testimonials .testimonials-inner-layer .testimonial-user .user__img {
  color: 6rem;
  margin-right: 1rem;
}
.representation-page .testimonials .testimonials-inner-layer .testimonial-user .info-container .user__username {
  font-family: manrope-bold;
  font-size: 2rem;
}
.representation-page .testimonials .testimonials-inner-layer .testimonial-user .info-container .user__location {
  margin-top: 0.7rem;
}
.representation-page .footer {
  margin-top: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.representation-page .footer .footer-link {
  color: #ffffff;
  margin-inline: 2rem;
}

.dashboard {
  width: 80%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dashboard .dashboard__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.dashboard .dashboard__navigation .btn-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.dashboard .dashboard__navigation .btn-container .dashboard__logout-btn {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-left: 2rem;
}
.dashboard .dashboard__navigation .btn-container .dashboard__logout-btn svg {
  transform: rotate(180deg);
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn {
  width: 18rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f55050;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn .delete-account-text {
  display: block;
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn .delete-account-inputs {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn .delete-account-inputs .delete-account-username {
  margin-right: 1rem;
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn .delete-account-inputs .input {
  width: 18rem;
  height: 3rem;
  padding: 0 0.5rem;
  color: #212121;
  background-color: transparent;
  border: 0.3rem solid #323232;
  border-radius: 0.3333333333rem;
  font-family: manrope-semibold;
  font-size: 1.4rem;
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn .delete-account-inputs .input::placeholder {
  color: #323232;
  opacity: 80%;
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn .delete-account-inputs .btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: #323232;
  border-radius: 0.3333333333rem;
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn-show {
  width: 47rem;
  background-color: #00adb5;
  cursor: default;
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn-show .delete-account-text {
  display: none;
}
.dashboard .dashboard__navigation .btn-container .dashboard-delete-account-btn-show .delete-account-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard .dashboard__main-page {
  width: 100%;
}
.dashboard .dashboard__main-page .main-page__upper-container {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard .dashboard__main-page .main-page__upper-container .upper-container__greetings .upper-container-greetings__info {
  font-family: manrope-semibold;
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}
.dashboard .dashboard__main-page .main-page__upper-container .upper-container__greetings .upper-container-greetings__date {
  font-family: manrope-medium;
  font-size: 2rem;
}
.dashboard .dashboard__main-page .main-page__upper-container .balance {
  font-family: manrope-bold;
  font-size: 5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management {
  display: grid;
  grid-template-columns: 60% 38.5%;
  grid-template-rows: repeat(2, 23.6rem);
  justify-content: center;
  gap: 2rem;
  margin-top: 2.5rem;
  text-align: center;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container {
  grid-row: 1/3;
  position: relative;
  background-color: #323232;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0 2rem;
  border-bottom: 0.3rem solid #969696;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction .transac-date-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction .transac-date-time .transac-date__stat {
  display: block;
  width: 13rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: #88a47c;
  border-radius: 0.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction .transac-date-time .transaction__date {
  margin-left: 2.7rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction .transaction-amount {
  font-family: manrope-bold;
  font-size: 2.4rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction:last-child {
  border: none;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .empty-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: manrope-semibold;
  font-size: 3.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container::-webkit-scrollbar {
  display: none;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-transfer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: rgba(250, 234, 177, 0.1);
  color: #faeab1;
  border: 0.3rem solid #faeab1;
  border-radius: 1rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-transfer-container .money-man-trans-container {
  display: grid;
  grid-template-columns: 75% 18%;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-transfer-container .money-man-trans-container .input-amount-money-transfer {
  width: 100%;
  border: 0.3rem solid #faeab1;
  border-radius: 0.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-transfer-container .money-man-trans-container .input-transfer {
  width: 100%;
  height: 5.5rem;
  padding: 0 2rem;
  border: 0.3rem solid #faeab1;
  border-radius: 0.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-transfer-container .money-man-trans-container .input {
  grid-column: 1/2;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-transfer-container .money-man-trans-container .input::placeholder {
  color: #faeab1;
  opacity: 60%;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-transfer-container .money-man-trans-container .transfer-confirmation-btn {
  width: 6rem;
  height: 13rem;
  grid-column: 2/3;
  grid-row: 3/-1;
  background-color: #faeab1;
  border-radius: 0.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .loan-request-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(136, 164, 124, 0.1);
  color: #88a47c;
  border: 0.3rem solid #88a47c;
  border-radius: 1rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .loan-request-container .input-amount-request-loan {
  width: 58%;
  border: 0.3rem solid #88a47c;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .loan-request-container .input::placeholder {
  color: #88a47c;
  opacity: 75%;
}
.dashboard .dashboard__main-page .dashboard__money-management .loan-request-container .request-loan-confirmation {
  width: 58%;
  height: 5.5rem;
  background-color: #88a47c;
  border-radius: 0.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-manipulator-title {
  font-family: manrope-bold;
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .input-amount {
  width: 25.5rem;
  height: 5.5rem;
  padding: 0 2rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .input-amount::-webkit-inner-spin-button,
.dashboard .dashboard__main-page .dashboard__money-management .input-amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dashboard .dashboard__main-page .downer-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content .downer-left-info {
  margin-right: 5rem;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content .downer-left-info span {
  font-family: manrope-bold;
  font-size: 1.8rem;
  margin-left: 0.7rem;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content .downer-left-info .in {
  color: #88a47c;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content .downer-left-info .out {
  color: #f55050;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content .downer-left-info .interest {
  color: #88a47c;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content .sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: manrope-bold;
  cursor: pointer;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content .sort .svg-sort {
  margin-left: 0.1rem;
  transform: rotate(0);
  transition: all 200ms ease-in-out;
}
.dashboard .dashboard__main-page .downer-content-container .downer-left-content .sort .svg-sort--rotate {
  transform: rotate(180deg);
}
.dashboard .dashboard__main-page .downer-content-container .downer-content-timer .timer {
  font-family: manrope-bold;
  margin-left: 0.5rem;
}

.login-form-cover {
  width: 50rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  padding: 3rem 0 3rem 0;
}
.login-form-cover .logIn-form {
  width: 85%;
}
.login-form-cover .logIn-form .logIn-form__inputContainer {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.login-form-cover .logIn-form .logIn-form__inputContainer .logIn-form-input {
  width: 100%;
  height: 100%;
}
.login-form-cover .logIn-form .logIn-form__inputContainer svg {
  margin-right: 2rem;
}
.login-form-cover .logIn-form .logIn-form__submitbtn {
  margin-bottom: 3rem;
}
.login-form-cover .login-form-cover__director {
  font-size: 1.8rem;
  color: #969696;
}
.login-form-cover .login-form-cover__director .login-form-cover__link {
  font-family: manrope-semibold;
  color: #ffffff;
  cursor: pointer;
}

.login-form-cover__logo {
  margin-bottom: 6.5rem;
}

.register-form-cover {
  width: 50rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  padding: 3rem 0 3rem 0;
}
.register-form-cover .register-form {
  width: 85%;
}
.register-form-cover .register-form .register-form__inputContainer {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.register-form-cover .register-form .register-form__inputContainer .register-form-input {
  width: 100%;
  height: 100%;
}
.register-form-cover .register-form .register-form__inputContainer svg {
  margin-right: 2rem;
}
.register-form-cover .register-form .register-form__submitbtn {
  margin-bottom: 3rem;
}
.register-form-cover .register-form__director {
  font-size: 1.8rem;
  color: #969696;
}
.register-form-cover .register-form__director .register-form__link {
  font-family: manrope-semibold;
  color: #ffffff;
  cursor: pointer;
}

.notification {
  width: fit-content;
  height: 7rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: -10rem;
  right: 1rem;
  opacity: 0;
  transform: scale(0);
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
}
.notification .notification__text {
  font-size: 1.6rem;
  font-family: manrope-bold;
  color: #212121;
  margin-left: 1.5rem;
}

.notification-show {
  transform: scale(1);
  opacity: 100%;
  top: 1rem;
}