html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: manrope-bold;
  src: url("../files/fonts/Manrope-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: manrope-semibold;
  src: url("../files/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: manrope-medium;
  src: url("../files/fonts/Manrope-Medium.ttf") format("truetype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: manrope-medium;
  font-size: 1.6rem;
  background-color: #212121;
  color: #ffffff;
  min-height: 100vh;
  padding: 1% 10% 0 10%;
}

.input {
  font-family: manrope-semibold;
  font-size: 1.8rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}

.submit {
  width: 100%;
  height: 7.5rem;
  font-family: manrope-bold;
  font-size: 2.4rem;
  background-color: #00adb5;
  color: #323232;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn {
  font-family: manrope-bold;
  font-size: 2rem;
  background-color: #00adb5;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.dashboard .dashboard__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
}
.dashboard .dashboard__navigation .dashboard__logout-btn {
  width: 20rem;
  height: 4.5rem;
}
.dashboard .dashboard__main-page {
  width: 100%;
}
.dashboard .dashboard__main-page .main-page__upper-container {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard .dashboard__main-page .main-page__upper-container .upper-container__greetings .upper-container-greetings__info {
  font-family: manrope-semibold;
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}
.dashboard .dashboard__main-page .main-page__upper-container .upper-container__greetings .upper-container-greetings__date {
  font-family: manrope-medium;
  font-size: 2rem;
}
.dashboard .dashboard__main-page .main-page__upper-container .upper-container-greetings__date {
  font-family: manrope-bold;
  font-size: 5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management {
  width: 100%;
  margin-top: 2.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container {
  width: 70rem;
  height: 49.3rem;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0 2rem;
  border-bottom: 0.3rem solid #969696;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction .transac-date-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction .transac-date-time .transac-date__stat {
  display: block;
  width: 13rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: #88a47c;
  border-radius: 0.5rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction .transac-date-time .transaction__date {
  margin-left: 2.7rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction .transaction-amount {
  font-family: manrope-bold;
  font-size: 2.4rem;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container .transaction:last-child {
  border: none;
}
.dashboard .dashboard__main-page .dashboard__money-management .transactions-container::-webkit-scrollbar {
  display: none;
}
.dashboard .dashboard__main-page .dashboard__money-management .money-manipulator-container .money-transfer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-cover {
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  padding: 2.2rem 0 3rem 0;
}
.login-form-cover .logIn-form {
  width: 85%;
}
.login-form-cover .logIn-form .logIn-form__inputContainer {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.login-form-cover .logIn-form .logIn-form__inputContainer .logIn-form-input {
  width: 100%;
  height: 100%;
}
.login-form-cover .logIn-form .logIn-form__inputContainer svg {
  margin-right: 2rem;
}
.login-form-cover .logIn-form .logIn-form__submitbtn {
  margin-bottom: 3rem;
}
.login-form-cover .login-form-cover__director {
  font-size: 1.8rem;
  color: #969696;
}
.login-form-cover .login-form-cover__director .login-form-cover__link {
  font-family: manrope-semibold;
  color: #ffffff;
  cursor: pointer;
}

.login-form-cover__logo {
  margin-bottom: 6.5rem;
}

.register-form-cover {
  width: 50rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  padding: 2.2rem 0 3rem 0;
}
.register-form-cover .register-form {
  width: 85%;
}
.register-form-cover .register-form .register-form__inputContainer {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 0.3rem solid #969696;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.register-form-cover .register-form .register-form__inputContainer .register-form-input {
  width: 100%;
  height: 100%;
}
.register-form-cover .register-form .register-form__inputContainer svg {
  margin-right: 2rem;
}
.register-form-cover .register-form .register-form__submitbtn {
  margin-bottom: 3rem;
}
.register-form-cover .register-form__director {
  font-size: 1.8rem;
  color: #969696;
}
.register-form-cover .register-form__director .register-form__link {
  font-family: manrope-semibold;
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */